<div id="game-wrapper" class="container">	
	<header role="banner">
		<h4>Let’s see if you’ve got what it takes. There are three matching pairs of cards below. Please click on the cards to find the pairs…</h4>
	</header>
	<div id="cards-wrapper" >
		<div class="row">
			<div class="four columns alpha"></div>
			<div class="four columns"></div>
			<div class="four columns omega"></div>
		</div>
		<div class="row">
			<div class="four columns alpha"></div>
			<div class="four columns"></div>
			<div class="four columns omega"></div>
		</div>
	</div>
	<footer role="contentinfo">
		<span>Development by <b>Chris Klein</b></span>
		<a href="http://www.nomabi.com" target="_blank"><p>nomabi web development</p></a>
	</footer>	
<div>		

<script>
	$(document).ready(function(){ FlipGame.init() })
</script>