// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{width: 780px !important;}

header, footer{padding-left:20px !important; padding-right: 20px !important;}

#cards-wrapper{ position:relative; width: 780px !important; padding: 25px 0px 30px 0px !important;

.columns{ padding: 10px; height: 220px; width: 220px;
	
	div {background-color: #f0f0f0; height: 200px; width: 200px; cursor:pointer; padding:20px;
		 -webkit-border-radius: 4px !important; -moz-border-radius: 4px !important; border-radius: 3px;
		 -webkit-box-shadow: 2px 2px 7px #A0A0A0 !important;
		 -moz-box-shadow: 2px 2px 7px #A0A0A0 !important;
		 box-shadow: 2px 2px 7px #A0A0A0 !important;
	
		span{ position: relative; display: block; height: 100%; width: 100%; background-color: transparent; }
		
		.card-back{  background-image: url('Seamles-Blue-23.jpg') }
		.brain{  background-image: url('brain.png') }
		.chapter{  background-image: url('chapter.png'); background-repeat:no-repeat; }
		.logo{  background-image: url('logo.png'); background-repeat:no-repeat; }
	}
	
}}

#invitation{ position:relative; margin: auto !important; margin-top: 30px !important; overflow:auto;
			 background-color: #f8f8f8; padding: 30px; text-align: center !important;
			 -webkit-box-shadow: 1px 2px 7px #A0A0A0 !important;
			 -moz-box-shadow: 1px 2px 7px #A0A0A0 !important;
			 box-shadow: 1px 2px 7px #A0A0A0 !important;

}

#mask{ position: absolute; left:0; top:50px;  height: 520px; width:780px; background-color: transparent;}

#footer{position:relative; margin-top:30px;
	b{ font-weight: 700; }
}